/* Global Styles */
body {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  padding: 15px;
}

header nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

header nav ul li a:hover {
  color: #ffd700;
}

main {
  padding: 50px;
  background-color: #fff;
}

h1 {
  text-align: center;
  font-size: 2.5em;
}

section {
  margin-bottom: 50px;
}

.bio p, .contact ul, .publications ol {
  text-align: center;
}

.contact ul li {
  display: inline;
  margin: 0 15px;
}

.contact ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.contact ul li a:hover {
  color: #ffd700;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
}
